* {
    box-sizing: border-box;
}

::selection {
    color: black;
    background-color: rgba(215, 21, 41, 0.9);
}

/* MESSAGE */
body.modal-open {
    overflow: hidden;
}

body:not(.modal-open) {
    overflow: auto;
}

h1#avertissement {
    color: #D71529;
    font-size: 2em;
}
.modal {
    display: none;  /* Masque la fenêtre par défaut */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #000;
    margin: auto;
    padding: 20px;
    width: 80%;
    font-size: 100%;
    border: 2px solid #D71529;
}

#continue-button {
    font-family: Anton SC, sans-serif;
    color: #D71529;
    background-color: black;
    border: 2px solid #D71529;
    margin-top: 20px;
    padding: 20px 40px;
    border-radius: 20px;
    font-size: 100%;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
}
/* Fin message*/

/*HEADER*/
header {
    width: 100%;
    top: 0;
    background-color: black;
    text-align: center;
    position: fixed;
}

header img {
    margin-top: 10px;
}

#mark {
    width: 60px;
    height: auto;
    float: left;
}

.berserk-logo {
    width: 180px;
    height: auto;
    margin-right: -12em;
}

header ul{
    list-style-type: none;
    float: right;
    margin: 17px 0;
}

header li {
    display: inline-block;
    margin: 0 1em;
    font-size: 20px;
}

header li a {
    text-decoration: none;
    font-family: "Anton SC", "sans-serif";
    color: #D71529;
}

header li a:hover {
    color: white;
}

.actif {
    display: none;
}
/*fin header*/

/*BODY*/
body {
    color: white;
    font-family: "Roboto Flex", "sans-serif";
    font-size: 32px;
    background-image: url("../img/berserk-panel-guts-color.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
}

h1 {
    font-family: "Anton SC", "sans-serif";
    font-size: 96px;
}

strong {
    font-style: italic;
}

video {
    width: 1200px;
    height: auto;
}

main {
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 1200px;
    margin: 100px auto auto;
    padding: 0 0 3px;
}

h1, p {
    padding: 50px;
}

.img-right {
    float: right;
    margin-top: -8em;
    margin-right: 50px;
    width: 400px;
    height: auto;
}

.welcome {
    margin: -150px 300px 0 0;
}

p {
    margin-top : -50px;
}
/*fin body*/

/*FOOTER*/
footer {
    color: #e5e5e5;
    width: 100%;
    background: linear-gradient(to bottom, #000, #D71529);
    border-top: 1px solid #e5e5e5;
    height: 40px;
}

footer div {
    font-size: 20px;
    margin-top: 10px;
}
/*fin footer*/