* {
    box-sizing: border-box;
}

body {
    color: white;
    font-family: "Roboto Flex", "sans-serif";
    font-size: 70px;
    background-image: url("../img/berserk-panel-guts-color.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Anton SC", "sans-serif";
    font-size: 4em;
}

strong {
    font-style: italic;
}

header {
    width: 100%;
    top: 0;
    background-color: black;
    text-align: center;
    position: fixed;
}

#mark {
    width: 200px;
    height: auto;
    float: left;
}

video {
    width: 3960px;
    height: auto;
}

main {
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 3960px;
    margin: auto;
}

h1, p, img {
    padding: 50px;
}

footer {
    color: #e5e5e5;
    width: 100%;
    background: linear-gradient(to bottom, #000, #D71529);
    border-top: 1px solid #e5e5e5;
}