* {
    box-sizing: border-box;
}

body {
    color: white;
    font-family: "Roboto Flex", "sans-serif";
    font-size: 32px;
    background-image: url("../img/berserk-panel-guts-color.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Anton SC", "sans-serif";
    font-size: 4em;
}

strong {
    font-style: italic;
}

header {
    width: 100%;
    margin: -85px auto 0;
    background-color: black;
    position: fixed;
    text-align: center;
}

#mark {
    width: 200px;
    height: auto;
}
